@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Header Carousel Style  */

.c-item::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 29, 29, 0.7);
  display: block;
  position: absolute;
}

.c-caption {
  top: 25%;
}

.c-caption h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 85px;
}

.c-caption p {
  font-size: 18px;
  line-height: 30px;
}
