@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Section Heading Utility Class  */

.bg-light-sky-blue {
  background-color: #f4fafd;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}
.my-100 {
  margin: 100px 0px;
}

.mr-5 {
  margin-right: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ptb-100 {
  padding: 100px 0px;
}

.section-heading {
  margin-top: 100px;
}

.section-heading h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #1d1d1d;
}

.section-heading p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #777777;
}

/* Header Carousel Style  */

.c-item::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 29, 29, 0.7);
  display: block;
  position: absolute;
}

.c-caption {
  top: 25%;
}

.c-caption h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 85px;
}

.c-caption p {
  font-size: 18px;
  line-height: 30px;
}

/* Course Section Start  */
.course-content h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #4a4a4a;
}

.course-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

/* Explore Section  */
.explore-thumb {
  margin-left: -11px;
  padding: 0px;
}

.explore-content h3 {
  font-weight: 600;
  font-size: 45px;
  color: #1d1d1d;
}

.explore-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #777777;
}
